<% provide(:title, "Home") %>
<div	class="center jumbotron">
   <h1><%= t('staticpage.h1_title') %></h1>
   <h2>
    <%= t('staticpage.h2_body') %>
   </h2>
    <%= link_to t('user.h1_signup'), signup_path, class: "btn btn-lg btn-primary" %>
</div>
