<li>
  <%= link_to user.name, admin_user_path(user) %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t('user.delete'), admin_user_path(user), method: :delete,  data: { confirm: t('delete.confirmation') } %>
  <% end %>
</li>
